SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
# Your Gmail
SMTP_USER=you@gmail.com
# Your gmail app password not gmail account password search in gpt to learn how
SMTP_PASSWORD=fdafdafddf
# Alternate email to send the mails to 
CONTACT_EMAIL=you@gmail.com